<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% webpack_entry_css 'main' inline %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% webpack_entry_js 'vendor' %}
            {% webpack_entry_js 'main' defer %}
            {% webpack_entry_js 'second' async %}
        {% endblock %}
    </body>
</html>
